~$List of papers providing effect size benchmarks.xlsx
~$stematic Review of Effect Size Benchmark Papers.docx
~$fect size measures.docx
.Rproj.user
~$PowerAnalysesPsycSciJuly.xlsx
.Rhistory
.RData
~WRL3364.tmp
.vs/VSWorkspaceState.json
~$proaches to formal sample size determination.docx
